.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    margin: 0 0 10px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-right: 76px;
    width: 100%;
  }
  
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 18px;
    cursor: pointer;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
    color: #9b9b9b;
    font-weight: normal;
  }
  
  .react-tabs__tab--selected {
    background: #fff;
    border-bottom-color: #ffa737;
    color: #4a4a4a;;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  
  .react-tabs__tab:focus {
    border-bottom-color: #ffa737;
    outline: none;
  }
  
  .react-tabs__tab:hover {
    border-bottom-color: #ffa737;
    outline: none;
  }

  .react-tabs__tab:focus:after {
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }

  #top-menu{
    text-align: right;
    display: flex;
  }

  #logo{
    background: #ececec;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 37px;
    width: 90px;
    position: absolute;
    margin-left: 90px;
    padding: 18px;
  }